spring:
  datasource:
    url: jdbc:mysql://localhost:3306/company_analyzer?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: DEBUG
    com.project.companyanalyzer: DEBUG
